@import "src/styles.scss";
.Footer {
  border-top: 1px solid rgba(255, 255, 255, 0.068);
  background-color: #221f20;
  text-align: center;
  color: rgba(255, 255, 255, 0.664);
  margin: 20px auto 0;
  padding: 30px;
  font-size: x-small;
  @include desktop{
    font-size:medium;
  }
  &__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    @include desktop {
      margin-left: 120px;
    }
    > a {
      width: 7%;
      margin: 5px;
      @include desktop {
        width: 3%;
        margin: 5px;
      }
      > img {
        width: 24px;
        @include desktop {
          width: 49px;
        }
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    @include desktop{
      margin-left: 100px;
    }
    > ul {
      list-style: none;
      flex-basis: 25%;
      padding: 20px;
      text-align: initial;
      > li {
        list-style: none;
        margin: 15px;
        > a:link,
        a:visited,
        a:active {
          text-decoration: none;
        }
      }
    }
    &--toHide {
      display: none;
      @include desktop {
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__copyRight {
    > p {
      text-align: start;
      margin-left: 10px;
      @include desktop {
        margin-left: 129px;
      }
    }
  }
}