<footer class="Footer">
  <div class="Footer__icons">
    
    <a href="https://www.facebook.com/netflixespana/"> 
      <img src="/assets/facebookGris.png" alt="logo Facebook" />
    </a>
    
    <a href="https://www.instagram.com/NetflixES/"> 
      <img src="/assets/instagramGris.png" alt="logo Instagram" />
    </a>
    <a href="https://twitter.com/netflixes">
      <img src="/assets/twiterGris.png" alt="logo Twitter" />
    </a>
    <a href="https://www.youtube.com/channel/UCT2UUebPuLke_BShrDh_YEA">
      <img src="/assets/youtubeGris.png" alt="logo Youtube" />
    </a>
  </div>
  <div class="Footer__list">
    <ul>
      <li>
        <a href="https://www.netflix.com/browse/subtitles"
          >Audio y subtitulos</a
        >
      </li>
      <li>
        <a href="https://about.netflix.com/es_es/newsroom">Zona de prensa</a>
      </li>
      <li><a href="https://help.netflix.com/legal/privacy">Privacidad</a></li>
      <li>
        <a href="https://help.netflix.com/es-es/contactus">Contáctanos</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://www.netflix.com/browse/audio-description"
          >Descripción del audio</a
        >
      </li>
      <li>
        <a
          href="https://www.netflixinvestor.com/ir-overview/profile/default.aspx"
          >Inversores</a
        >
      </li>
      <li>
        <a href="https://help.netflix.com/legal/notices">Avisos legales</a>
      </li>
    </ul>
    <ul class="Footer__list--toHide">
      <li>
        <a href="https://help.netflix.com/es-es/">Centro de ayuda</a>
      </li>
      <li>
        <a href="https://jobs.netflix.com/">Empleo</a>
      </li>
      <li>
        <a href="https://help.netflix.com/legal/privacy#cookies"
          >Preferencias de cookies</a
        >
      </li>
    </ul>
    <ul class="Footer__list--toHide">
      <li>
        <a href="https://www.netflix.com/es/redeem">Targetas regalo</a>
      </li>
      <li>
        <a href="https://help.netflix.com/legal/termsofuse">Terminos de uso</a>
      </li>
      <li>
        <a href="https://help.netflix.com/legal/corpinfo"
          >Información corporativa</a
        >
      </li>
    </ul>
  </div>
  <div class="Footer__copyRight">
    <p>© 1997-2020 Netflix, Inc.</p>
  </div>
</footer>