@import "src/styles.scss";

.ContainerAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border:1px solid rgba(255, 255, 255, 0.185);
  border-radius: 20px;
  margin-left: 20px;
    margin-right: 20px;
    
  @include desktop{
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 400px;
    margin-right: 400px;
   
  }
  

  &__title {
    text-align: center;
  }
  &__description {
    text-align: center;
    margin: 15px;
  }
  &__ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0px;

    &--li {
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      > div {
        align-items: center;
      }
      &--photo {
        width: 120px;
        border-radius: 70px;
      }
      &--icon {
        width: 50px;
        margin-top: 15px;
      }
    }
  }
}
