@import "src/styles.scss";
.Trailer{
    margin: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
&__title{
text-align: center;
}
&__video{
    margin:10px;
    >iframe{
        border-radius: 18px;
    }
}
}