<section class="movieList">
  <div class="movieList__container">
    <div class="movieList__container--title">
      <h2>Películas</h2>
    </div>
    <div class="movieList__container--list">
      <app-movie-list-item
        *ngFor="let poster of postersMoviesList; index as i"
        [index]="i"
        [posterMovie]="poster"
        (navigate)="navigateTo($event)"
      ></app-movie-list-item>
      <!-- <a [routerLink]="[i]">
                    <article class="container__list__items">
                        <img class="container__list__items__item1" src="{{ poster.poster_path }}"
                            alt="{{ poster.title }}">

                    </article>
                </a> -->
    </div>
  </div>
</section>
