.movieList {
  &__container {
    display: flex;
    flex-direction: column;
    &--title {
      text-align: center;
    }
    &--list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
