@import "src/styles.scss";

.containerDetails {
  align-items: center;
  display: flex;
  flex-direction: column;

  @include desktop {
    margin-left: 99px;
    margin-right: 99px;
  }

  &__ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 40px;

    @include desktop {
      flex-direction: row;
      border: 1px solid rgba(255, 255, 255, 0.164);
      border-radius: 20px;
      margin-top: 40px;
      width: 1400px;
    }

    &--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 504px;

      @include desktop {
        margin-left: 119px;
        margin-right: 167px;
      }
      &--img {
        width: 335px;
        position: absolute;
        border-radius: 12px;

        @include desktop {
          width: 335px;
        }
      }
      .material-icons {
        position: relative;
        margin-top: 197px;
        font-size: 94px;
        color: white;
        
        @include desktop {
          margin-top: 202px;
        }
      }
    }
    &--description {
      line-height: 27px;
      font-size: 16px;

      &--title {
        > h3 {
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }
}
