<header class="header">
  <div class="header__logo">
    <a [routerLink]="['/home']">
      <img
        src="https://www.islabit.com/wp-content/uploads/2018/11/Netflix.png"
        alt="logo de netflix"
      />
    </a>
  </div>
  <div class="header__containerRight">
    <nav>
      <div class="dropdown">
        <span>Menu</span>

        <div class="dropdown-content">
          <a class="header__nav__container__anchor" [routerLink]="['']">
            Home
          </a>
          <a class="header__nav__container__anchor" [routerLink]="['/movies']">
            Películas</a
          >
          <a class="header__nav__container__anchor" [routerLink]="['/about']">
            About</a
          >
        </div>
      </div>
    </nav>

    <form class="header__containerRight--form" novalidate (ngSubmit)="onSearchSubmit()" [formGroup]="searchFormGroup">
      <fa-icon class="icon" [icon]="faSearch"></fa-icon>
      <label class="header__form__label" for="title"></label>
      <input type="text" id="title" formControlName="title" placeholder="Titulo de la película">

      <div class="error" *ngIf="!searchFormGroup.get('title').valid && (searchFormGroup.get('title').dirty || submitted)">
        min 5 carácteres
      </div>
      <button type="submit">search</button>
      <button (click)="reset()" type="button">Reset</button>
    </form>

  </div>
</header>
