<a (click)="handleClick()">
  <article class="container__Poster">
    <img
      class="container__Poster--img"
      src="{{ posterMovie.poster_path }}"
      alt="{{ posterMovie.title }}"
    />
  </article>
</a>
