@import "src/styles.scss";
.Home {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include desktop {
   
  }

  &__header {
    position: relative;
    margin-top: 20px;
    > img {
      width: 403px;

      @include desktop {
        width: 110%;
      }
    }
  }
  &__icons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: absolute;
    margin-top: 101px;
    margin-left: 16px;

    @include desktop {
      margin-top: 524px;
      margin-left: 60px;
    }

    > fa-icon {
      font-size: small;
      border: 1px solid white;
      color: rgba(255, 255, 255, 0.897);
      border-radius: 57px;
      padding: 7px;
      margin: 3px;

      @include desktop {
        font-size: large;

        border-radius: 57px;
        padding: 15px;
        margin: 5px;
      }
    }
  }
}
